AMPLITUDE_API_KEY=
AMPLITUDE_HTTP_API_ENDPOINT=https://api2.amplitude.com/2/httpapi
NEXT_PUBLIC_AMPLITUDE_WEB_EXPERIMENT_SCRIPT_URL=
NEXT_PUBLIC_AMPLITUDE_EXPERIMENT_DEPLOYMENT_KEY=
NEXT_PUBLIC_MIXPANEL_TOKEN=715809b4480606c6237f5ffde5c246b4
